
body {
    font-family: 'Gideon Roman', serif;
    overflow-x: hidden;

}

.navbar {
    overflow: hidden;
    background-color: #ffffff; 
    border-bottom: 2px solid rgb(94, 91, 91);/* Background color for the navbar */
}

.navbar a {
    float:inline-end;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    position: relative;
    

}


.navbar a:hover {
     /* Background color on hover */
    color: black;
    text-decoration: underline;
}

body{
    background-color: white;
    border : 15%;
    align-items: center;
    justify-content: center;
    
    
}

.home img{
    height: 22rem;
    width: 22rem;
    border-radius: 100%;
    position: sticky;
   
    

}
.home{
    
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content:center;
   
    text-align: center;
}

.moto{
    font-size: 2rem;
    
}


.home h{
    font-size: 7rem;
    margin: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    
}
.main{
    padding-right: 0;
}

.services-list{
    padding: 15% 12% 0 12%;
    display: flex;


}


.subcontainer{
  
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
  
 
   
   

}
.first-img img{
    height: 15rem;
    width: 15rem;
    border-radius: 5% ;
    
    
}

.first-slice{
    display: flex;
    padding: 5% 5%;
}

.second-slice{
    display: flex;
    padding: 5% 5%;
}

.customcontent1{
    padding: 15%;
}

.customcontent2{
    padding: 5%;
}

.customimage2 img{
    border-radius: 15px;
    padding-right: 2px;
}

.lastone{
    text-align: center;
}
.moreinfo{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 12%;
}

.moreinfo h1{
    font-size: 60px;
    line-height: 2px;
    position: sticky;
    

}



.button-1{

    background-color:#1111b8;
    color: #fff;
    margin: 10px 20px 10px 0px;
    border:none; 
    border-radius:10px; 
    padding:15px;
    
    min-height:30px; 
    min-width: 120px;
}

.button-2{
    
    top:50%;
    background-color:rgb(184, 126, 17);
    color: #fff;
    margin: 10px 20px 10px 0;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

.impressive-part img{
    height: 550px;
    width: 550px;
    border-radius: 17%;
    padding: 0 20% 0 20%;
    
}

.titlecontainer{
    display:flex;
    margin:0;
    align-items: center;
}

/* footer */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.contained{
    max-width: 1170px;
    
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: white;
    padding: 70px 0;
}
.footer-col{
    width:25%;
    padding: 0 15px;


}

.footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 200;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px 10px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: black;
    transition: all 0.3s ease
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: black;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
   .footer-col{ width: 100%;}

}